In [6]:
#%pip list this is just the local version

In [4]:
#%pip install --upgrade awswrangler

In [5]:
#%pip install --upgrade ray

In [6]:
#%pip install --upgrade aws-glue-sessions

In [43]:
%iam_role arn:aws:iam::620109146561:role/GluNotebook

Current iam_role is arn:aws:iam::620109146561:role/GluNotebook
iam_role has been set to arn:aws:iam::620109146561:role/GluNotebook.

In [45]:
#%region us-east-1

In [48]:
%session_type glue_ray

In [52]:
%additional_python_modules modin==0.26.1, awswrangler==3.4.2, tqdm, tabulate

Additional python modules to be included:
modin==0.26.1
awswrangler==3.4.2
tqdm
tabulate

In [56]:
#%glue_version 4.0

In [61]:
%help

# Available Magic Commands

## Sessions Magic

----
    %help                             Return a list of descriptions and input types for all magic commands.
    %profile            String        Specify a profile in your aws configuration to use as the credentials provider.
    %region             String        Specify the AWS region in which to initialize a session.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\ USERNAME \.aws\config" on Windows.
    %idle_timeout       Int           The number of minutes of inactivity after which a session will timeout.
                                      Default: 2880 minutes (48 hours).
    %session_id_prefix  String        Define a String that will precede all session IDs in the format
                                      [session_id_prefix]-[session_id]. If a session ID is not provided,
                                      a random UUID will be generated.
    %status                           Returns the status of the current Glue session including its duration,
                                      configuration and executing user / role.
    %session_id                       Returns the session ID for the running session.
    %list_sessions                    Lists all currently running sessions by ID.
    %stop_session                     Stops the current session.
    %glue_version       String        The version of Glue to be used by this session.
                                      Currently, the only valid options are 2.0, 3.0 and 4.0.
                                      Default: 2.0.
----

## Selecting Session Types

----
    %streaming          String        Sets the session type to Glue Streaming.
    %etl                String        Sets the session type to Glue ETL.
    %glue_ray           String        Sets the session type to Glue Ray.
    %session_type       String        Specify a session_type to be used. Supported values: streaming, etl and glue_ray.
----

## Glue Config Magic
*(common across all session types)*

----

    %%configure         Dictionary    A json-formatted dictionary consisting of all configuration parameters for
                                      a session. Each parameter can be specified here or through individual magics.
    %iam_role           String        Specify an IAM role ARN to execute your session with.
                                      Default from ~/.aws/config on Linux or macOS,
                                      or C:\Users\%USERNAME%\.aws\config` on Windows.
    %number_of_workers  int           The number of workers of a defined worker_type that are allocated
                                      when a session runs.
                                      Default: 5.
    %additional_python_modules  List  Comma separated list of additional Python modules to include in your cluster
                                      (can be from Pypi or S3).
    %%tags        Dictionary          Specify a json-formatted dictionary consisting of tags to use in the session.

    %%assume_role Dictionary, String  Specify a json-formatted dictionary or an IAM role ARN string to create a session
                                      for cross account access.
                                      E.g. {valid arn}
                                      %%assume_role
                                      'arn:aws:iam::XXXXXXXXXXXX:role/AWSGlueServiceRole'
                                      E.g. {credentials}
                                      %%assume_role
                                      {
                                            "aws_access_key_id" : "XXXXXXXXXXXX",
                                            "aws_secret_access_key" : "XXXXXXXXXXXX",
                                            "aws_session_token" : "XXXXXXXXXXXX"
                                       }
----


## Magic for Spark Sessions (ETL & Streaming)

----
    %worker_type        String        Set the type of instances the session will use as workers.
    %connections        List          Specify a comma separated list of connections to use in the session.
    %extra_py_files     List          Comma separated list of additional Python files From S3.
    %extra_jars         List          Comma separated list of additional Jars to include in the cluster.
    %spark_conf         String        Specify custom spark configurations for your session.
                                      E.g. %spark_conf spark.serializer=org.apache.spark.serializer.KryoSerializer
----

## Magic for Ray Session

----
    %min_workers        Int           The minimum number of workers that are allocated to a Ray session.
                                      Default: 1.
    %object_memory_head Int           The percentage of free memory on the instance head node after a warm start.
                                      Minimum: 0. Maximum: 100.
    %object_memory_worker Int         The percentage of free memory on the instance worker nodes after a warm start.
                                      Minimum: 0. Maximum: 100.
----

## Action Magic

----

    %%sql               String        Run SQL code. All lines after the initial %%sql magic will be passed
                                      as part of the SQL code.
----

In [66]:
%idle_timeout 15
%number_of_workers 5 
#not necessarily used but available for use
#it also automatically allocates 1 head node in addition to these workers

Current idle_timeout is None minutes.
idle_timeout has been set to 15 minutes.
Previous number of workers: None
Setting new number of workers to: 5

In [1]:
print('ssssxs')

Trying to create a Glue session for the kernel.
Session Type: glue_ray
Worker Type: Z.2X
Number of Workers: 5
Session ID: b267e68c-6e30-44ad-9990-58cd71990af7
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
--additional-python-modules modin==0.26.1,awswrangler==3.4.2,tqdm,tabulate
Waiting for session b267e68c-6e30-44ad-9990-58cd71990af7 to get into ready status...
Session b267e68c-6e30-44ad-9990-58cd71990af7 has been created.
ssssxs

In [17]:
%status

Session ID: b267e68c-6e30-44ad-9990-58cd71990af7
Status: READY
Role: arn:aws:iam::620109146561:role/GluNotebook
CreatedOn: 2024-03-12 09:53:58.434000-07:00
GlueVersion: 4.0
Session Type: glue_ray
Tags: {'owner': 'AIDAZAYLCVHAX7AKM3NHK'}
Worker Type: Z.2X
Number of Workers: 5
Region: us-east-1
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
--additional-python-modules modin==0.26.1,awswrangler==3.4.2,tqdm,tabulate
Arguments Passed: ['--glue_kernel_version: 1.0.4', '--enable-glue-datacatalog: true', '--additional-python-modules: modin==0.26.1,awswrangler==3.4.2,tqdm,tabulate']

In [19]:
%list_sessions

The first 2 sessions are:
+--------------------------------------+----------+----------------------------------+
| SessionId                            | Status   | CreatedOn                        |
+======================================+==========+==================================+
| 4fa8555d-e7b9-4cc2-bf86-1588295acec1 | READY    | 2024-03-12 08:21:18.125000-07:00 |
+--------------------------------------+----------+----------------------------------+
| b267e68c-6e30-44ad-9990-58cd71990af7 | READY    | 2024-03-12 09:53:58.434000-07:00 |
+--------------------------------------+----------+----------------------------------+

In [2]:
import sys

In [3]:
print (sys.executable)

/opt/amazon/workload-runtime/Ray2.4/python3.9/bin/python3.9

In [20]:
#%pip show ray #this is just the local version not the cloud one

In [21]:
#ray.init() # Modin defaults to backing Ray's object store with disk. Start Ray before importing modin to use shared memory instead.
#doesn't work here due to BELOW:

When using AWS Glue for Ray jobs and interactive sessions, you do not need to explicitly call ray.init() to initialize the Ray cluster. AWS Glue handles provisioning and initializing the Ray cluster in the backend. [1]

The Ray cluster is automatically initialized when your AWS Glue for Ray job or interactive session starts. You can immediately start using Ray and all the Ray APIs without having to call ray.init(). [2]

Under the hood, AWS Glue provisions a Ray cluster with one head node and multiple worker nodes (based on the number configured with 
%number_of_workers
) and initializes Ray on all of them. So your Python code has access to a fully distributed Ray cluster without any initialization steps required from your side.

This allows Ray jobs and sessions on AWS Glue to focus just on the core task logic, without having to worry about cluster setup/teardown. The serverless nature of AWS Glue handles all the cluster management transparently in the background.

Let me know if you have any other questions!

Sources
[1] Working with Ray jobs in AWS Glue - AWS Glue
https://docs.aws.amazon.com/glue/latest/dg/ray-jobs-section.html

[2] Magics supported by AWS Glue Ray interactive sessions - AWS Glue
https://docs.aws.amazon.com/glue/latest/dg/is-using-ray-configuration.html

In [4]:
import modin.pandas as pd

In [5]:
pd.__pandas_version__

'2.1'

In [6]:
import awswrangler as wr

In [7]:
wr.engine.get()

<EngineEnum.RAY: 'ray'>

In [8]:
wr.memory_format.get()

<MemoryFormatEnum.MODIN: 'modin'>

In [22]:
#print(ray.__version__) #this is the cloud version - i can't change it by adding it to the imports and specifying the version b/c not allowed so had to downgrade awswrangler by specifying version

In [23]:
# import numpy as np

In [9]:
import os, modin.config as cfg

In [24]:
#from IPython.display import display

In [10]:
rayBucket = 'glue-ray-data-620109146561-us-east-1'

In [11]:
athenaWrkgrp = 'GlueRayWorkGroup'

In [25]:
#wr.catalog.create_database(name='books', exist_ok=True)

In [12]:
cfg.Engine.get()

'Ray'

In [13]:
import tqdm

In [14]:
tqdm.version.__version__

'4.66.2'

In [15]:
pd.set_option('display.max_columns', None)

In [26]:
#pd.set_option("display.html.table_schema", True)

In [16]:
from tabulate import tabulate #lets me call tabluate function directly instead of tb.tabulate() if I used "import tabluate as tb"

In [18]:
def parse_dates(x):
    try:
        return pd.to_datetime(x)
    except ValueError:
        return pd.NA#np.nan


df = wr.s3.read_csv(
        f's3://{rayBucket}/books.csv'
        , on_bad_lines='skip'
        , dtype={'bookID': str, 'isbn': str, 'isbn13': str}
        , parse_dates=['publication_date']
        , date_parser=parse_dates
)

2024-03-12 16:56:22,569	WARNING read_api.py:358 -- ⚠️  The number of blocks in this dataset (1) limits its parallelism to 1 concurrent tasks. This is much less than the number of available CPU slots in the cluster. Use `.repartition(n)` to increase the number of dataset blocks.

You're correct that the repartition warning is specific to Spark DataFrames and may not necessarily apply to Ray DataFrames. When using Ray on AWS Glue, the data is implicitly partitioned during the read operation based on the number of workers. [1]

Repartitioning after reading the data may still be useful in some cases to control the partitioning, such as to match the number of partitions to the number of workers for better data distribution. But it's not strictly needed to address any warnings in the Ray/Glue context.

The key things are ensuring the data is split across partitions for parallelism, and that the number of partitions is sufficient to keep all workers busy processing data. In a Ray job on Glue, setting the 
%number_of_workers
 config appropriately often helps achieve that optimal distribution without additional repartitioning steps.

Let me know if this helps explain why the warning may not directly apply when using Ray DataFrames on Glue!

In [19]:
df.iloc[0:2]

  bookID                                              title  \
0      1  Harry Potter and the Half-Blood Prince (Harry ...
1      2  Harry Potter and the Order of the Phoenix (Har...

                      authors  average_rating        isbn         isbn13  \
0  J.K. Rowling/Mary GrandPré            4.57  0439785960  9780439785969
1  J.K. Rowling/Mary GrandPré            4.49  0439358078  9780439358071

  language_code    num_pages  ratings_count  text_reviews_count  \
0           eng          652        2095690               27591
1           eng          870        2153167               29221

  publication_date        publisher
0       2006-09-16  Scholastic Inc.
1       2004-09-01  Scholastic Inc.

In [20]:
def tb(x):
    print(tabulate(x, headers='keys', tablefmt='psql'))

In [21]:
tb(df.iloc[0:2])

+----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------+
|    |   bookID | title                                                        | authors                    |   average_rating |       isbn |        isbn13 | language_code   |     num_pages |   ratings_count |   text_reviews_count | publication_date    | publisher       |
|----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------|
|  0 |        1 | Harry Potter and the Half-Blood Prince (Harry Potter  #6)    | J.K. Rowling/Mary GrandPré |             4.57 | 0439785960 | 9780439785969 | eng             |           652 |         2095690 |                27591 | 2006-09-16 00:00:00 | Scholastic Inc. |
|  1 |        2 | Harry Potter and the Order of the Phoenix (Harry Potter  #5) | J.K. Rowling/Mary GrandPré |             4.49 | 0439358078 | 9780439358071 | eng             |           870 |         2153167 |                29221 | 2004-09-01 00:00:00 | Scholastic Inc. |
+----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------+

In [27]:
# try:
#     df['publication_date'] = pd.to_datetime(df['publication_date']) 
# except ValueError as e:
#     row_idx = re.search(r'at position (\d+)', str(e)).group(1)
#     row_idx = int(row_idx)
#     print(df.iloc[row_idx])

bookID                                                            31373
title                 In Pursuit of the Proper Sinner (Inspector Lyn...
authors                                               Elizabeth  George
average_rating                                                      4.1
isbn                                                         0553575104
isbn13                                                    9780553575101
language_code                                                       eng
  num_pages                                                         718
ratings_count                                                     10608
text_reviews_count                                                  295
publication_date                                             11/31/2000
publisher                                                  Bantam Books
Name: 8177, dtype: object

In [22]:
df[df['bookID']=='31373'] #the inner df command marks each row in df with TRUE or FALSE

     bookID                                              title  \
8177  31373  In Pursuit of the Proper Sinner (Inspector Lyn...

                authors  average_rating        isbn         isbn13  \
8177  Elizabeth  George             4.1  0553575104  9780553575101

     language_code    num_pages  ratings_count  text_reviews_count  \
8177           eng          718          10608                 295

     publication_date     publisher
8177              NaT  Bantam Books

In [23]:
tb(df[df['bookID']=='31373'])

+------+----------+---------------------------------------------------------+-------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+--------------------+--------------+
|      |   bookID | title                                                   | authors           |   average_rating |       isbn |        isbn13 | language_code   |     num_pages |   ratings_count |   text_reviews_count | publication_date   | publisher    |
|------+----------+---------------------------------------------------------+-------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+--------------------+--------------|
| 8177 |    31373 | In Pursuit of the Proper Sinner (Inspector Lynley  #10) | Elizabeth  George |              4.1 | 0553575104 | 9780553575101 | eng             |           718 |           10608 |                  295 | NaT                | Bantam Books |
+------+----------+---------------------------------------------------------+-------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+--------------------+--------------+

In [24]:
type(df)

<class 'modin.pandas.dataframe.DataFrame'>

In [25]:
tb(df.head())

+----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------+
|    |   bookID | title                                                        | authors                    |   average_rating | isbn       |        isbn13 | language_code   |     num_pages |   ratings_count |   text_reviews_count | publication_date    | publisher       |
|----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------|
|  0 |        1 | Harry Potter and the Half-Blood Prince (Harry Potter  #6)    | J.K. Rowling/Mary GrandPré |             4.57 | 0439785960 | 9780439785969 | eng             |           652 |         2095690 |                27591 | 2006-09-16 00:00:00 | Scholastic Inc. |
|  1 |        2 | Harry Potter and the Order of the Phoenix (Harry Potter  #5) | J.K. Rowling/Mary GrandPré |             4.49 | 0439358078 | 9780439358071 | eng             |           870 |         2153167 |                29221 | 2004-09-01 00:00:00 | Scholastic Inc. |
|  2 |        4 | Harry Potter and the Chamber of Secrets (Harry Potter  #2)   | J.K. Rowling               |             4.42 | 0439554896 | 9780439554893 | eng             |           352 |            6333 |                  244 | 2003-11-01 00:00:00 | Scholastic      |
|  3 |        5 | Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)  | J.K. Rowling/Mary GrandPré |             4.56 | 043965548X | 9780439655484 | eng             |           435 |         2339585 |                36325 | 2004-05-01 00:00:00 | Scholastic Inc. |
|  4 |        8 | Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)       | J.K. Rowling/Mary GrandPré |             4.78 | 0439682584 | 9780439682589 | eng             |          2690 |           41428 |                  164 | 2004-09-13 00:00:00 | Scholastic      |
+----+----------+--------------------------------------------------------------+----------------------------+------------------+------------+---------------+-----------------+---------------+-----------------+----------------------+---------------------+-----------------+

In [26]:
df.info()

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11123 non-null  object
 1   title               11123 non-null  object
 2   authors             11123 non-null  object
 3   average_rating      11123 non-null  float64
 4   isbn                11123 non-null  object
 5   isbn13              11123 non-null  object
 6   language_code       11123 non-null  object
 7     num_pages         11123 non-null  int64
 8   ratings_count       11123 non-null  int64
 9   text_reviews_count  11123 non-null  int64
 10  publication_date    11121 non-null  datetime64[ns]
 11  publisher           11123 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 1.0+ MB

In [27]:
df.dtypes

bookID                        object
title                         object
authors                       object
average_rating               float64
isbn                          object
isbn13                        object
language_code                 object
  num_pages                    int64
ratings_count                  int64
text_reviews_count             int64
publication_date      datetime64[ns]
publisher                     object
dtype: object

In [28]:
tb(df.describe())

+-------+------------------+---------------+------------------+----------------------+-------------------------------+
|       |   average_rating |     num_pages |    ratings_count |   text_reviews_count | publication_date              |
|-------+------------------+---------------+------------------+----------------------+-------------------------------|
| count |     11123        |     11123     |  11123           |            11123     | 11121                         |
| mean  |         3.93408  |       336.406 |  17942.8         |              542.048 | 2000-08-29 03:05:33.099541504 |
| min   |         0        |         0     |      0           |                0     | 1900-01-01 00:00:00           |
| 25%   |         3.77     |       192     |    104           |                9     | 1998-07-17 00:00:00           |
| 50%   |         3.96     |       299     |    745           |               47     | 2003-03-01 00:00:00           |
| 75%   |         4.14     |       416     |   5000.5         |              238     | 2005-10-01 00:00:00           |
| max   |         5        |      6576     |      4.59767e+06 |            94265     | 2020-03-31 00:00:00           |
| std   |         0.350485 |       241.153 | 112499           |             2576.62  | nan                           |
+-------+------------------+---------------+------------------+----------------------+-------------------------------+

In [29]:
tb(
    df[['title', 'text_reviews_count', 'ratings_count']]
    .sort_values(by=['text_reviews_count'], ascending=False)
    .iloc[0:10]
)

+-------+-------------------------------------------------------------+----------------------+-----------------+
|       | title                                                       |   text_reviews_count |   ratings_count |
|-------+-------------------------------------------------------------+----------------------+-----------------|
| 10336 | Twilight (Twilight  #1)                                     |                94265 |         4597666 |
|  5270 | The Book Thief                                              |                86881 |         1516367 |
|  1069 | The Giver (The Giver  #1)                                   |                56604 |         1585589 |
|   284 | The Alchemist                                               |                55843 |         1631221 |
| 10700 | Water for Elephants                                         |                52759 |         1260027 |
|  7309 | The Lightning Thief (Percy Jackson and the Olympians  #1)   |                47951 |         1766725 |
|  5407 | Eat  Pray  Love                                             |                47620 |         1362264 |
|  2060 | The Glass Castle                                            |                46176 |          808656 |
|  1462 | The Catcher in the Rye                                      |                43499 |         2457092 |
|     3 | Harry Potter and the Prisoner of Azkaban (Harry Potter  #3) |                36325 |         2339585 |
+-------+-------------------------------------------------------------+----------------------+-----------------+

In [30]:
x = df.select_dtypes(include='number').columns

In [31]:
x

Index(['average_rating', '  num_pages', 'ratings_count', 'text_reviews_count'], dtype='object')

In [32]:
type(x)

<class 'pandas.core.indexes.base.Index'>

In [33]:
normalizedDf=(df[x]-df[x].mean())/df[x].std()

In [34]:
normalizedDf

       average_rating    num_pages  ratings_count  text_reviews_count
0            1.814412     1.308692      18.469003           10.497845
1            1.586157     2.212684      18.979913           11.130456
2            1.386434     0.064666      -0.103199           -0.115674
3            1.785880     0.408847      20.636974           13.887557
4            2.413581     9.759771       0.208758           -0.146723
...               ...          ...            ...                 ...
11118        0.359287     0.728147      -0.158107           -0.202610
11119        0.416350     1.238197      -0.152533           -0.188638
11120        0.073968     0.325912      -0.152204           -0.173502
11121       -0.610797     0.404700      -0.152658           -0.156425
11122       -0.068691    -0.267074      -0.158489           -0.205715

[11123 rows x 4 columns]

In [35]:
type(normalizedDf)

<class 'modin.pandas.dataframe.DataFrame'>

In [36]:
wr.athena.to_iceberg(
    df=df,
    database='books',
    table='icebooks',
    table_location=f"s3://{rayBucket}/iceberg/",
    temp_path=f's3://{rayBucket}/iceberg_temp',
    workgroup=athenaWrkgrp,
    keep_files=False
)

2024-03-12 16:58:34,733	INFO streaming_executor.py:83 -- Executing DAG InputDataBuffer[Input] -> TaskPoolMapOperator[Write]
2024-03-12 16:58:34,733	INFO streaming_executor.py:84 -- Execution config: ExecutionOptions(resource_limits=ExecutionResources(cpu=None, gpu=None, object_store_memory=None), locality_with_output=False, preserve_order=False, actor_locality_enabled=True, verbose_progress=False)

https://aws-sdk-pandas.readthedocs.io/en/stable/stubs/awswrangler.athena.to_iceberg.html