### This notebook shows examples of using Glue on Spark for users familiar with pandas
To follow this example notebook, execute the cells in order.
The keyboard shortcut to execute the current cell and jump to the following is: Shift+Enter.

To delete cells no longer needed (including this one), you can use the context menu or use the Escape key (to exit any cell you might be in) and then press the d key twice. You can select multiple cells using Shift + Up/Down, to delete many quickly.

This example assumes the configured role has permission to read/write on the default catalog database and the s3 glue temporary folder, otherwise update the code or the permissions accordingly.

####  Running the following cell will set up and start your interactive session.

In [1]:
%idle_timeout 120
%glue_version 4.0
%worker_type G.1X
%number_of_workers 2

import boto3
import sys
from awsglue.dynamicframe import DynamicFrame
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from pyspark.sql.functions import *
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.4
Current idle_timeout is None minutes.
idle_timeout has been set to 120 minutes.
Setting Glue version to: 4.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 2
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 2
Session ID: ace4407e-ea50-412f-8b40-95089b0a4317
Applying the following default arguments:
--glue_kernel_version 1.0.4
--enable-glue-datacatalog true
Waiting for session ace4407e-ea50-412f-8b40-95089b0a4317 to get into ready status...
Session ace4407e-ea50-412f-8b40-95089b0a4317 has been created.

In [2]:
# Optimize the data movement from pandas to Spark DataFrame and back
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")

# You can define a distributed Spark DataFrame, to read the data in a distributed way and be able to process large data
# Here it takes a bit of time because we ask it to infer schema, in practice could just let it set everything as string
# and handle the schema manually
sdf = spark.read.csv("s3://tempscottedwards2000/books.csv", 
                     header=True, inferSchema=True)

In [3]:
# The schema inference considered the dollar amounts as string due to the $ symbol
# Also in the csv there are some header with extra spaces, we'll deal with that later
sdf.printSchema()

root
 |-- bookID: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- authors: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: string (nullable = true)
 |-- language_code: string (nullable = true)
 |--   num_pages: string (nullable = true)
 |-- ratings_count: integer (nullable = true)
 |-- text_reviews_count: integer (nullable = true)
 |-- publication_date: string (nullable = true)
 |-- publisher: string (nullable = true)

In [ ]:
# The last 3 columns are dollar amounts, let's parse them into Decimal numbers for calculations
last_3cols = sdf.columns[-3:]
# These transformations are just defined here, until we extract the data Spark won't do the work (lazy execution)
for col_name in last_3cols:
    # Note: normally for monies it's better to use decimal but pandas doesn't support it
    sdf = sdf.withColumn(col_name, regexp_replace(sdf[col_name], '\$', '').cast('double'))

# The zip code is not really a number
sdf = sdf.withColumn('Provider Zip Code', sdf['Provider Zip Code'].cast('string'))

In [4]:
# Check the parsing is working fine
sdf.show(n=10)

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+---------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|      publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+---------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|Scholastic Inc.|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|        870|      2153167|             29221|        9/1/2004|Scholastic Inc.|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|        352|         6333|               244|       11/1/2003|     Scholastic|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|     Scholastic|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|        152|           19|                 1|       4/26/2005|   Nimble Books|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|     Scholastic|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|        815|         3628|               254|       11/1/2005| Gramercy Books|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|        815|       249558|              4080|       4/30/2002|  Del Rey Books|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|        215|         4930|               460|        8/3/2004|          Crown|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+---------------+
only showing top 10 rows

In [ ]:
# Let's say you are only interested in California
sdf_ca = sdf.filter('`Provider State` == "CA"')

# Now that we have narrowed down the data, it's small enough that we can convert into a native pandas DataFrame
# Unlike sdf which reads data distributed and when needed, this pdf uses the driver memory to store the data
# so is faster for smaller data as long as it fits
pdf_ca = sdf_ca.toPandas()

# The column names in the csv have extra spaces, in pandas we can trim that easily
pdf_ca.columns = [c.strip() for c in pdf_ca.columns]

In [ ]:
# Check the pandas schema
pdf_ca.dtypes

In [ ]:
# Explore the statistics of the numeric columns
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 5)
pd.set_option('max_colwidth', 30)
pdf_ca.describe()

In [ ]:
# Plot a histogram on the notebook directly from pandas
import matplotlib.pyplot as plt
plt.figure()
plt.title("Histogram of average Medicare payments")
plt.xlabel("Average payment in dollars")
histogram = pdf_ca['Average Medicare Payments'].plot.hist(bins=12, alpha=0.5)
%matplot plt

If you have more experience with the pandas APIs would rather use that instead of Spark DataFrame  
But notice that while we use native pandas, only the driver was doing work and the rest of the cluster is not used   
That's why we set the minimum size: *%number_of_workers 2*  

On Glue 4.0, you can get both distributed computed and the pandas syntax by using the "pandas on Spark" API, it's not yet 100% compatible but should work for most cases

In [5]:
# The following cells will only work on Glue 4.0
# psdf is a pandas on Spark DataFrame, uses the pandas API but the data and processing is distributed
# this means it has higher latency but also can scale beyond a single node to handler larger data
psdf = sdf.pandas_api()
psdf.columns = [c.strip() for c in psdf.columns]
# Statistics on the full dataset
psdf.describe()

             bookID  ratings_count  text_reviews_count
count  11127.000000   1.112700e+04        11127.000000
mean   21310.938887   1.793649e+04          541.864474
std    13093.358023   1.124794e+05         2576.174610
min        1.000000   0.000000e+00            0.000000
25%    10270.000000   1.040000e+02            9.000000
50%    20264.000000   7.440000e+02           46.000000
75%    32104.000000   4.991000e+03          237.000000
max    45641.000000   4.597666e+06        94265.000000

In [6]:
# Operate the data in a distributed way but using pandas syntax
relevant_psdf = psdf[(psdf['Total Discharges'] > 100) & (psdf['Average Medicare Payments'] > 10000)]
relevant_psdf.groupby(["Provider State", "Provider Id"])["Average Medicare Payments"].max()

KeyError: 'Total Discharges'

Note that in the previous cell the output is not equivalent than the same on native pandas, which displays the results grouped by the first column.   
Also running a sort before the groupby wouldn't work the same way, in this case the data is distributed so it's unsorted again when doing the groupby.

In [8]:
# Convert back to Spark DataFrame if you want leverage the data saving features (for instance creating a catalog table)
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameWriter.html
relevant_sdf = psdf.to_spark()
relevant_sdf.show()

# Or go a step further and convert to DynamicFrame to use its sinks and features
# https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-crawler-pyspark-extensions-dynamic-frame-writer.html
relevant_dynf = DynamicFrame.fromDF(relevant_sdf, glueContext, "")

+------+--------------------+--------------------+--------------+----------+-------------+-------------+---------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+---------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|      652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|      870|      2153167|             29221|        9/1/2004|     Scholastic Inc.|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|      352|         6333|               244|       11/1/2003|          Scholastic|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|      435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|     2690|        41428|               164|       9/13/2004|          Scholastic|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|      152|           19|                 1|       4/26/2005|        Nimble Books|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|     3342|        28242|               808|       9/12/2005|          Scholastic|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|      815|         3628|               254|       11/1/2005|      Gramercy Books|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|      815|       249558|              4080|       4/30/2002|       Del Rey Books|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|      215|         4930|               460|        8/3/2004|               Crown|
|    16|The Hitchhiker's ...|Douglas Adams/Ste...|          4.22|0739322206|9780739322208|          eng|        6|         1266|               253|       3/23/2005|  Random House Audio|
|    18|The Ultimate Hitc...|       Douglas Adams|          4.38|0517149257|9780517149256|          eng|      815|         2877|               195|       1/17/1996|         Wings Books|
|    21|A Short History o...|         Bill Bryson|          4.21|076790818X|9780767908184|          eng|      544|       248558|              9396|       9/14/2004|      Broadway Books|
|    22|Bill Bryson's Afr...|         Bill Bryson|          3.44|0767915062|9780767915069|          eng|       55|         7270|               499|       12/3/2002|      Broadway Books|
|    23|Bryson's Dictiona...|         Bill Bryson|          3.87|0767910435|9780767910439|          eng|      256|         2088|               131|       9/14/2004|      Broadway Books|
|    24|In a Sunburned Co...|         Bill Bryson|          4.07|0767903862|9780767903868|          eng|      335|        72451|              4245|       5/15/2001|      Broadway Books|
|    25|I'm a Stranger He...|         Bill Bryson|          3.90|076790382X|9780767903820|          eng|      304|        49240|              2211|       6/28/2000|      Broadway Books|
|    26|The Lost Continen...|         Bill Bryson|          3.83|0060920084|9780060920081|          eng|      299|        45712|              2257|       8/28/1990|William Morrow Pa...|
|    27|Neither Here nor ...|         Bill Bryson|          3.86|0380713802|9780380713806|          eng|      254|        48701|              2238|       3/28/1993|William Morrow Pa...|
|    28|Notes from a Smal...|         Bill Bryson|          3.91|0380727501|9780380727506|          eng|      324|        80609|              3301|       5/28/1997|William Morrow Pa...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+---------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

/opt/amazon/spark/python/lib/pyspark.zip/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `to_spark`, the existing index is lost when converting to Spark DataFrame.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)